<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kamedon.todo">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".KamedonApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="a16fc7afab3290b79bb3644d9f284c6e4d70cdd6" />

        <activity
            android:name=".presentation.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.activity.TaskActivity"
            android:label="@string/title_task_untreated"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver android:name=".presentation.widget.TodoWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.kamedon.todo.ACTION_TASK_REGISTER" />
                <action android:name="com.kamedon.todo.ACTION_START_APP" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_todo" />
        </receiver>

        <service
            android:name=".presentation.widget.TodoWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".presentation.activity.TaskEditDialogActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar.Translucent" />
    </application>

</manifest>